*{
  box-sizing: border-box;
}

body{
  margin: 0;
  top: 0;
  overflow: hidden;
  /* background: rgb(242, 242, 242); */
  font-family: sans-serif;
  font-size: 12px;
  font-family: 'Karla', sans-serif;
}

h1{
  text-decoration: underline;
  font-style: italic;
  font-size: 12px;
  cursor: cell;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: blue;
}

a:active{
    text-decoration: none;
    color: blue;
}

a:visited{
    text-decoration: none;
    color: blue;
}

img{
  max-width: 100%;
  margin: 0 0 0.3% 0;
}

.img{
  display: block;
  height: auto;
}

.img-100{
  width: 100%;
  display: block;
  height: auto;
}

.img-big{
  width:75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 6px;
  justify-content:center;
}


.img-100{
  width: 100%;
  display: block;
  height: auto;
}

.img-76{
  width: 76%;
  display: block;
  height: auto;
}

.img-70{
  width: 70%;
  display: block;
  height: auto;
}

.img-60{
    width: 60%;
    display: block;
    height: auto;
}

.img-90{
    width: 90%;
    display: block;
    height: auto;
}

.img-48{
    width: 48%;
    display: block;
    height: auto;
}

.img-small{
  display: block;
  height: auto;
  max-width:60%;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  grid-gap: 0%;
  position: absolute;
  top:0;
  left: 0;
  margin: 0 0 5% 0;
  /* background: blue; */
}


.middle{
width: 10%;
height: 10%;
padding: 0.5% 0 0 0.5%;

}

.left{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: scroll;
  padding: 4% 0 5% 0% ;
  align-items: center;
  grid-gap: 12% 5%;


}

.background{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0% 0 0% 0% ;
  justify-content: space-between;
}

.box{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-gap: 0%;
  justify-content: space-between;
  padding: 1% 2% 1% 0.5%;
  /* background: red; */
}


.text-left{
  width: 19%;
  /* background: blue; */
  text-align: left;
  font-size: 12px;
  align-self: flex-start;
  position: relative;
}

.text-right{
  width: 5%;
  /* background: blue; */
  text-align: left;
  font-size: 10px;
  align-self: flex-start;
  position: relative;
}


.video{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:85%;
  position: relative;
  padding: 20;
}

.text-middle{
  width: 100%;
  /* background: blue; */
  text-align: right;
  font-size: 10px;
}

@media screen and (max-width: 740px) {
  html {
    font-size: 200%;
      }

.text-left{
  width: 100%;
}

.img-big{
  width: 100%;
}

}
